.blogPostTitle {
    font-size: 2rem;
    color: blue;
}

.blogPostTitle:hover {
    text-decoration: underline;
}

.dateCreatedText {
    font-weight: bold;
}

.article {
    margin: 1rem 0;
}

.keepReading, .backToBlogLink {
    color: blue;
    text-decoration: underline;
}