.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.skillCardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.skillCardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 1rem;
    width: 150px;
    aspect-ratio: 1 / 1.33;
    padding: 1rem 0;
}

@media (max-width: 468px) {
    .skillCardsContainer {
        justify-content: center;
    }

    .skillCardContainer {
        width: 200px;
        height: 266px;
    }
}

.show {
    opacity: 1;
    transition: opacity 1.5s ease-in;
}

.hide {
    opacity: 0;
}

.borderBottomAnimationContainer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 100%;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 1rem;
}

.skillCardContainer:hover>.borderBottomAnimationContainer {
    animation: borderbottom 0.8s forwards;
}

@keyframes borderbottom {
    0% {
        width: 0px;
    }

    50% {
        border-bottom-right-radius: 0;
    }

    80% {
        border-bottom-right-radius: 0.5rem;
    }

    90% {
        border-bottom-right-radius: 0.75rem;
    }

    100% {
        width: 100%;
        border-bottom-right-radius: 1rem;
    }
}

.backgroundAnimationContainer {
    position: absolute;
    right: 0;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: var(--skill-card-background-colour-after-animation);
    transition: 0.8s width ease-in;
    border-radius: 1rem;
}

.skillCardContainer:hover>.backgroundAnimationContainer {
    width: 100%;
}

.imageDescription {
    display: block;
    border-top: 1px solid black;
    margin-top: 1rem;
    padding-top: 1rem;
    width: 100%;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}