.wholeNavbarContainer {
    width: 100vw;
    position: absolute;
    background-color: var(--navbar-colour);
    top: 0;
    left: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.navbarContainer {
    width: 100vw;
    background-color: var(--navbar-colour);
    top: var(--navbar-header-height);
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
    z-index: 10;
}

.inFocusLink {
    color: white;
}