.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: inherit;
    margin: auto;
}

.goToBlogsLink {
    font-size: 4rem;
    color: blue;
}

@media (max-width: 468px) {
    .goToBlogsLink {
        font-size: 3rem;
    }
}

.goToBlogsLink:hover {
    text-decoration: underline;
}