.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: inherit;
    margin: auto;
}

.goToBlogsLink {
    font-size: 4rem;
    color: blue;
}

.goToBlogsLink:hover {
    text-decoration: underline;
}