.wholeNavbarContainer {
    width: 100vw;
    position: absolute;
    background-color: var(--navbar-colour);
    top: 0;
    left: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.navbarContainer {
    width: 100vw;
    background-color: var(--navbar-colour);
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    gap: 1rem;
    z-index: 10;
    transition: max-height 0.5s;
    max-height: 200px;
    overflow: hidden;
}

.dontShow {
    max-height: 0;
    /* The overflow hidden here ensures that when we open the navbar, the links inside the navbar do not show before the animation 
    has caught up. */
    overflow: hidden;
    padding-bottom: 0;
}