.imageContainer {
    width: 80%;
    aspect-ratio: 1 / 1;
    border-radius: calc((0.8 * var(--navbar-width)) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    /* For some reason, we need this? */
    aspect-ratio: 1;

    width: 100%;
    height: 100%;
    border-radius: calc((0.8 * var(--navbar-width)) / 2);

}