.main {
    min-height: 100vh;
    display: flex;
    overflow: hidden;
}

@media (max-width: 780px) {
    .main {
        display: initial;
    }
}

.pages {
    overflow-y: scroll;
    /* Make it take up rest of page. */
    flex-grow: 1;

    /* So that overflow-y works. */
    height: 100vh;
}