.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.projectListContainer {
    width: 95%;
}

.projectContainerWithDemo {
    display: flex;
    margin-top: 2rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}

.gifContainer {
    width: 475px;
    position: relative;
}

.conwaysGameOfLifeGifContainer {
    aspect-ratio: 880 / 640;
}

.sudokuGifContainer {
    aspect-ratio: 1 / 1;
}